
.btn {
  background-color: $siasar-green;
  text-transform: lowercase;
  border-radius: $siasar-border-radius;

  &.form-submit {
    background-image: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.input-field {
  margin-top: 0;

  label,
  label:not(.label-icon).active {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    color: $siasar-dark-cyan;
    position: static;
    display: block;
    transform: translate(0);
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    color: $siasar-dark-grey;
  }

  input.form-text,
  select.form-select,
  textarea {
    box-sizing: border-box;
    padding-left: 10px;
    background-color: white;
    border: solid $siasar-light-grey 2px;
    border-radius: $siasar-border-radius;
    margin-bottom: 0;

    &:focus {
      border-bottom-width: 2px;
    }

    &.error {
      border-color: $siasar-red;
    }
  }

  textarea {
    min-height: 8em;
  }
}

select.location-tree-selector {
  display: inline-block;
  width: auto;
  border: solid $siasar-light-grey 2px;
}

span.form-required {
  color: #c1272d;
  font-weight: bold;
}

.form-type-date-select .form-item {
  margin-right: 3px;
}

.field-widget-mvf-widget-default .form-type-mvf-widget {
  select,
  input {
    width: auto;
    display: inline-block;
  }

  .form-type-numberfield {
    display: inline-block;

    input[type=number] {
      width: 140px;

      @include breakpoint($break-medium) {
        width: 160px;
      }
    }
  }
}

.field {
  clear: left;
  padding-bottom: 0.5em;
  margin-bottom: 0.75em;
  border-bottom: dotted $siasar-light-grey 1px;
  overflow: auto;
  line-height: 1.25;

  &:last-child {
    border: none;
  }
}

.field-label {
  color: #094069;
  font-weight: bold;
  padding-right: $vertical-tabs-padding / 2;

  @include breakpoint($break-small) {
    width: 200px;
    padding-right: $vertical-tabs-padding;
    float: left;
    clear: left;
  }

  @include breakpoint($break-medium) {
    width: $fields-alignment;
  }
}
.field-items {
  @include breakpoint($break-small) {
    margin-left: 200px;
  }
  @include breakpoint($break-medium) {
    margin-left: $fields-alignment;
  }
}

// Fix for the clunky default HTML generated for MVF, that looks like made by by a monkey with hat
.form-type-mvf-widget {
  > label {
    position: static !important;
    clip: none;
    overflow: visible;
    height: auto;
  }

  > .input-field > label {
    display: none;
  }
}

// Disabled fields
.field-disabled {
  label {
    opacity: 0.5;
  }
}
