@import url("https://fonts.googleapis.com/css?family=Nunito");
/**

 This mixin is in charge of making percentage calculations for each
 column without knowing the amount of items

Example:
@include distribute-all-items('.selector', 6);

.selector:nth-child(1):nth-last-child(1) {
  width: 100%;
}
.selector:nth-child(1):nth-last-child(2),
.selector:nth-child(2):nth-last-child(1) {
  width: 50%;
}
.selector:nth-child(1):nth-last-child(3),
.selector:nth-child(2):nth-last-child(2),
.selector:nth-child(3):nth-last-child(1) {
  width: calc(100% /3);
}
.selector:nth-child(1):nth-last-child(4),
.selector:nth-child(2):nth-last-child(3),
.selector:nth-child(3):nth-last-child(2),
.selector:nth-child(4):nth-last-child(1) {
  width: 25%;
}
.selector:nth-child(1):nth-last-child(5),
.selector:nth-child(2):nth-last-child(4),
.selector:nth-child(3):nth-last-child(3),
.selector:nth-child(4):nth-last-child(2),
.selector:nth-child(5):nth-last-child(1) {
  width: 20%;
}
.selector:nth-child(1):nth-last-child(6),
.selector:nth-child(2):nth-last-child(5),
.selector:nth-child(3):nth-last-child(4),
.selector:nth-child(4):nth-last-child(3),
.selector:nth-child(5):nth-last-child(2),
.selector:nth-child(6):nth-last-child(1) {
  width: calc(100% / 6);
}
*/
html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 12px;
}
@media (min-width: 992px) {
  html,
  body {
    font-size: 14px;
  }
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #666;
}
body.not-logged-in {
  background-color: #00829e;
}

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #00add2;
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  background: #096396;
  color: white;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

div,
ul,
li,
fieldset,
input,
select,
textarea,
fieldset {
  box-sizing: border-box;
}

.page {
  max-width: 1280px;
  margin: 80px auto;
}
@media (min-width: 600px) {
  .page {
    margin: 100px auto;
  }
}
@media (min-width: 992px) {
  .page {
    margin: 120px auto;
  }
}
.page a:hover {
  text-decoration: underline;
}
.page .main {
  padding: 0;
}
.page .block {
  background: white;
  padding: 20px 20px 24px;
}

table.responsive-table tbody {
  white-space: normal;
}

ul.pagination {
  display: table;
  margin: 40px auto;
}
ul.pagination li {
  height: auto;
  vertical-align: middle;
}
ul.pagination li a {
  color: #de861b;
}
ul.pagination li.pager-elipsis {
  background: none;
  color: #ddd;
}
ul.pagination li.active {
  background-color: #de861b;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.messages {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #99f199;
  border: solid #26c726 2px;
  border-radius: 5px;
}
.messages.error {
  background-color: #ffefa1;
  border-color: #d81d40;
}
.messages ul {
  margin: 0;
}

.element-invisible {
  margin: -1px;
}

.element-focusable {
  margin: 0;
}

.header-menu {
  background: #00add2;
  height: auto;
  line-height: 40px;
  top: 0;
  z-index: 1;
}
@media (min-width: 992px) {
  .header-menu {
    height: 64px;
    line-height: 64px;
  }
}
.header-menu .nav-wrapper {
  width: 100%;
}
.header-menu a.brand-logo {
  position: absolute;
  display: block;
  left: 10px;
  -webkit-transform: initial;
          transform: initial;
}
@media (min-width: 992px) {
  .header-menu a.brand-logo {
    display: block;
    font-size: 1rem;
    background-color: #00add2;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    top: 10px;
    left: 20px;
  }
}
.header-menu a.brand-logo img {
  width: 30px;
  min-height: 64px;
  padding: 5px 0px 0px;
}
@media (min-width: 992px) {
  .header-menu a.brand-logo img {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    min-height: 0px;
    top: 25px;
    left: 25px;
  }
}

.block h4 {
  text-align: center;
}

#block-system-main {
  padding: 0;
}

#block-user-login {
  background: white;
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#block-user-login .item-list a {
  font-size: 0.8em;
}

.region-user-nav {
  text-align: center;
}
@media (min-width: 992px) {
  .region-user-nav {
    text-align: right;
  }
}
.region-user-nav .responsive-menu-toggle {
  display: inline-block;
  font-size: 54px;
  line-height: 64px;
}
@media (min-width: 992px) {
  .region-user-nav .responsive-menu-toggle {
    display: none;
  }
}

ul.main-menu {
  border-top: 1px solid white;
}
@media (min-width: 992px) {
  ul.main-menu {
    border-top: none;
  }
}

ul.main-menu,
ul.user-menu {
  display: none;
}
ul.main-menu.visible,
ul.user-menu.visible {
  display: block;
}
@media (min-width: 992px) {
  ul.main-menu.visible,
  ul.user-menu.visible {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  ul.main-menu,
  ul.user-menu {
    display: inline-block;
  }
}
ul.main-menu li,
ul.user-menu li {
  float: none;
  text-align: left;
  border-bottom: 1px solid white;
}
@media (min-width: 992px) {
  ul.main-menu li,
  ul.user-menu li {
    border-bottom: none;
    float: left;
    text-align: right;
  }
}

@media (min-width: 992px) {
  ul.user-menu:before {
    color: #8edced;
    content: "|";
    display: block;
    float: left;
  }
}

ul.responsive-menu {
  background-color: #00add2;
  display: block;
  border-top: 1px solid white;
}
ul.responsive-menu li {
  float: none;
  text-align: left;
  border-bottom: 1px solid white;
}
@media (min-width: 992px) {
  ul.responsive-menu {
    display: none;
  }
}

.btn {
  background-color: #26c726;
  text-transform: lowercase;
  border-radius: 5px;
}
.btn.form-submit {
  background-image: none;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 25px;
  padding-right: 25px;
}

.input-field {
  margin-top: 0;
}
.input-field label,
.input-field label:not(.label-icon).active {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.015em;
  color: #00829e;
  position: static;
  display: block;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.input-field [type="radio"]:not(:checked) + label,
.input-field [type="radio"]:checked + label {
  color: #666;
}
.input-field input.form-text,
.input-field select.form-select,
.input-field textarea {
  box-sizing: border-box;
  padding-left: 10px;
  background-color: white;
  border: solid #ddd 2px;
  border-radius: 5px;
  margin-bottom: 0;
}
.input-field input.form-text:focus,
.input-field select.form-select:focus,
.input-field textarea:focus {
  border-bottom-width: 2px;
}
.input-field input.form-text.error,
.input-field select.form-select.error,
.input-field textarea.error {
  border-color: #d81d40;
}
.input-field textarea {
  min-height: 8em;
}

select.location-tree-selector {
  display: inline-block;
  width: auto;
  border: solid #ddd 2px;
}

span.form-required {
  color: #c1272d;
  font-weight: bold;
}

.form-type-date-select .form-item {
  margin-right: 3px;
}

.field-widget-mvf-widget-default .form-type-mvf-widget select,
.field-widget-mvf-widget-default .form-type-mvf-widget input {
  width: auto;
  display: inline-block;
}
.field-widget-mvf-widget-default .form-type-mvf-widget .form-type-numberfield {
  display: inline-block;
}
.field-widget-mvf-widget-default .form-type-mvf-widget .form-type-numberfield input[type=number] {
  width: 140px;
}
@media (min-width: 992px) {
  .field-widget-mvf-widget-default .form-type-mvf-widget .form-type-numberfield input[type=number] {
    width: 160px;
  }
}

.field {
  clear: left;
  padding-bottom: 0.5em;
  margin-bottom: 0.75em;
  border-bottom: dotted #ddd 1px;
  overflow: auto;
  line-height: 1.25;
}
.field:last-child {
  border: none;
}

.field-label {
  color: #094069;
  font-weight: bold;
  padding-right: 10px;
}
@media (min-width: 600px) {
  .field-label {
    width: 200px;
    padding-right: 20px;
    float: left;
    clear: left;
  }
}
@media (min-width: 992px) {
  .field-label {
    width: 325px;
  }
}

@media (min-width: 600px) {
  .field-items {
    margin-left: 200px;
  }
}
@media (min-width: 992px) {
  .field-items {
    margin-left: 325px;
  }
}

.form-type-mvf-widget > label {
  position: static !important;
  clip: none;
  overflow: visible;
  height: auto;
}
.form-type-mvf-widget > .input-field > label {
  display: none;
}

.field-disabled label {
  opacity: 0.5;
}

@media (min-width: 600px) {
  body.page-eform-submit .parallel-widgets #edit-field-cantidad-equipos-transport,
  body.page-eform-submit .parallel-widgets #edit-field-cantidad-medicion-agua,
  body.page-eform-submit .parallel-widgets #edit-field-cantidad-equipos-inform,
  body.page-entityform-edit .parallel-widgets #edit-field-cantidad-equipos-transport,
  body.page-entityform-edit .parallel-widgets #edit-field-cantidad-medicion-agua,
  body.page-entityform-edit .parallel-widgets #edit-field-cantidad-equipos-inform {
    float: left;
    width: calc(40% - 20px);
    min-width: 240px;
    margin-right: 20px;
    clear: left;
  }
  body.page-eform-submit .parallel-widgets #edit-field-estado-equipos-transporte,
  body.page-eform-submit .parallel-widgets #edit-field-estado-medicion-agua,
  body.page-eform-submit .parallel-widgets #edit-field-estado-equipos-informatico,
  body.page-entityform-edit .parallel-widgets #edit-field-estado-equipos-transporte,
  body.page-entityform-edit .parallel-widgets #edit-field-estado-medicion-agua,
  body.page-entityform-edit .parallel-widgets #edit-field-estado-equipos-informatico {
    float: left;
    width: 40%;
    min-width: 240px;
  }
  body.page-eform-submit .parallel-widgets #edit-field-estado-equipos-transporte,
  body.page-entityform-edit .parallel-widgets #edit-field-estado-equipos-transporte {
    margin-top: 0;
  }
  body.page-eform-submit .parallel-widgets #edit-field-dispone-fondos-viaticos,
  body.page-entityform-edit .parallel-widgets #edit-field-dispone-fondos-viaticos {
    clear: left;
    padding-top: 40px;
  }
}

.view-reports-entityforms {
  padding: 20px;
}
.view-reports-entityforms .views-exposed-form {
  background-color: #f4f4f4;
  margin: -20px;
  padding: 20px;
}
.view-reports-entityforms .views-exposed-form #edit-field-entidad-local-siasar-hierarchical-select-wrapper + div,
.view-reports-entityforms .views-exposed-form .views-submit-button {
  clear: left;
}
.view-reports-entityforms .views-exposed-form #edit-uid-wrapper input {
  width: 12em;
}
.view-reports-entityforms form {
  margin-bottom: 40px;
}
.view-reports-entityforms form .views-exposed-widget {
  padding-right: 1.5rem;
}
.view-reports-entityforms form label {
  font-size: 1rem;
}
.view-reports-entityforms form .form-text,
.view-reports-entityforms form .form-select {
  width: 100%;
  padding-left: 5px;
}
@media (min-width: 600px) {
  .view-reports-entityforms form .form-text,
  .view-reports-entityforms form .form-select {
    width: auto;
  }
}
.view-reports-entityforms form .form-item .description {
  font-size: 0.8rem;
}
@media (min-width: 600px) {
  .view-reports-entityforms form .form-autocomplete {
    width: 16em;
  }
}
.view-reports-entityforms table.sticky-header {
  background: white;
  z-index: 1;
}
.view-reports-entityforms table.views-table {
  position: relative;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
.view-reports-entityforms table.views-table tbody tr:hover {
  background-color: #ffefa1;
}
.view-reports-entityforms table.views-table tbody tr td {
  padding: 10px 5px;
}
.view-reports-entityforms table.views-table tbody tr td.views-field-draft, .view-reports-entityforms table.views-table tbody tr td.views-field-field-cuestionario-validado {
  text-align: center;
}
.view-reports-entityforms table.views-table tbody tr td.views-field-created, .view-reports-entityforms table.views-table tbody tr td.views-field-nothing {
  white-space: nowrap;
}
.view-reports-entityforms table.views-table td:first-child,
.view-reports-entityforms table.views-table th:first-child {
  padding-left: 20px;
}
.view-reports-entityforms table.views-table td:last-child,
.view-reports-entityforms table.views-table th:last-child {
  padding-right: 20px;
}
.view-reports-entityforms .feed-icon {
  margin-top: 15px;
  clear: both;
}
.view-reports-entityforms .views-field-views-bulk-operations input[type="checkbox"]:checked,
.view-reports-entityforms .views-field-views-bulk-operations input[type="checkbox"]:not(:checked) {
  opacity: 1;
  left: initial;
  position: initial;
}
.view-reports-entityforms .siasar-hierarchy li {
  text-transform: capitalize;
  float: left;
  font-size: 0.7em;
}
.view-reports-entityforms .siasar-hierarchy li + li:before {
  content: '-';
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
.view-reports-entityforms .siasar-hierarchy li.selected {
  clear: left;
  display: block;
  font-size: 1em;
}
.view-reports-entityforms .siasar-hierarchy li.selected:before {
  display: none;
}
.view-reports-entityforms .feed-icon > a {
  padding: 2px;
}
.view-reports-entityforms .feed-icon-header {
  padding-top: 20px;
}
.view-reports-entityforms .feed-icon-header span {
  color: #096396;
  font-size: 25px;
}

.vbo-views-form #edit-select {
  border: none;
  padding: 0 0 20px;
}
.vbo-views-form #edit-select legend {
  padding: 5px;
  background: none;
  font-weight: bold;
}
.vbo-views-form #edit-select .fieldset-wrapper input {
  padding-left: 10px;
  padding-right: 10px;
  background-image: none;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.vbo-views-form #edit-select .fieldset-wrapper input:not(:last-child) {
  margin-right: 10px;
}

body.page-frontpage .page {
  max-width: 520px;
}
body.page-frontpage #block-menu-menu-front-page-menu {
  background: none;
}
body.page-frontpage #block-menu-menu-front-page-menu h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  color: white;
}
body.page-frontpage #block-menu-menu-front-page-menu .content {
  background: white;
  padding: 20px;
}
body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu {
  width: 100%;
  margin: 0;
  padding: 0;
}
body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu > li {
  display: table;
  width: 100%;
}
body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu > li:not(:last-child) {
  margin-bottom: 30px;
}
body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu > li span {
  color: #666;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.02em;
  padding-right: 20px;
}
@media (min-width: 600px) {
  body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu > li span,
  body.page-frontpage #block-menu-menu-front-page-menu .content ul.menu > li ul {
    margin: 0;
    float: left;
    width: 50%;
  }
}

body.forbidden-403 h1,
body.not-found-404 h1 {
  background: none;
}
body.forbidden-403 #block-system-main,
body.not-found-404 #block-system-main {
  background: none;
  text-align: center;
  color: white;
}
body.forbidden-403 #block-user-login,
body.not-found-404 #block-user-login {
  position: static;
  display: table;
  margin: 20px auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

body.page-user-password h1 {
  background: none;
  line-height: 1.3;
}
body.page-user-password .tabs {
  display: none;
}
body.page-user-password #block-system-main {
  max-width: 600px;
  margin: 0 auto;
}
body.page-user-password form#user-pass {
  padding: 10px;
}
@media (min-width: 600px) {
  body.page-user-password form#user-pass {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  body.page-user-password form#user-pass {
    padding: 40px;
  }
}
body.page-user-password form#user-pass .form-submit {
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 20px;
}
@media (min-width: 600px) {
  body.page-user-password form#user-pass .form-submit {
    margin-top: 40px;
    padding-left: 55px;
    padding-right: 25px;
  }
}

body.page-resultados .page,
body.page-resultados .main.container {
  max-width: 1600px;
}

body.page-drafts .page,
body.page-drafts .main.container {
  max-width: 1200px;
}

body.maintenance-page {
  background: #096396;
  padding: 0;
  margin: 0;
}
body.maintenance-page #header {
  position: relative;
  display: block;
  height: 90px;
  padding: 10px 20px;
  background-color: #00829e;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 600px) {
  body.maintenance-page #header {
    height: auto;
  }
}
body.maintenance-page #header #logo {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  padding: 5px;
}
@media (min-width: 600px) {
  body.maintenance-page #header #logo {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    background-color: #00829e;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.2);
  }
}
body.maintenance-page #header #name-and-slogan {
  text-align: center;
  color: white;
  margin: 0 auto;
}
body.maintenance-page #header #name-and-slogan h1 {
  background: none;
  font-size: 3rem;
  line-height: 1;
}
body.maintenance-page #container {
  clear: both;
  padding: 20px;
  margin: 0 auto;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 600px) {
  body.maintenance-page #container {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    max-width: 560px;
    margin-top: 250px;
  }
}
@media (min-width: 992px) {
  body.maintenance-page #container {
    max-width: 650px;
    margin-top: 350px;
  }
}
body.maintenance-page #container h1 {
  background: none;
  color: #096396;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
@media (min-width: 600px) {
  body.maintenance-page #container h1 {
    font-size: 2rem;
  }
}

body.page-questionnaires .page,
body.page-questionnaires .main.container {
  max-width: 400px;
}
body.page-questionnaires #block-system-main {
  background-color: transparent;
}
body.page-questionnaires .view-questionnaires ul {
  margin: 0;
}
body.page-questionnaires .view-questionnaires li {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin: 0;
  background: white;
}
body.page-questionnaires .view-questionnaires li:first-child a {
  padding-top: 18px;
}
@media (min-width: 600px) {
  body.page-questionnaires .view-questionnaires li:first-child a {
    padding-top: 25px;
  }
}
body.page-questionnaires .view-questionnaires li:last-child a {
  padding-bottom: 18px;
}
@media (min-width: 600px) {
  body.page-questionnaires .view-questionnaires li:last-child a {
    padding-bottom: 25px;
  }
}
body.page-questionnaires .view-questionnaires li a {
  display: block;
  padding: 15px;
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
@media (min-width: 600px) {
  body.page-questionnaires .view-questionnaires li a {
    padding: 20px;
    font-size: 1.5rem;
  }
}
body.page-questionnaires .view-questionnaires li a:hover {
  background: #ffd815;
}

body.page-entityform h1,
body.page-eform h1 {
  background: none;
  text-align: left;
  font-size: 2rem;
  line-height: 1.2;
  padding-left: 5px;
}
@media (min-width: 600px) {
  body.page-entityform h1,
  body.page-eform h1 {
    font-size: 2.75rem;
  }
}
@media (min-width: 600px) {
  body.page-entityform h1,
  body.page-eform h1 {
    float: left;
  }
}
@media (min-width: 600px) {
  body.page-entityform .tabs,
  body.page-eform .tabs {
    width: auto;
    float: right;
  }
}
body.page-entityform .submitted,
body.page-eform .submitted {
  color: #666;
  position: absolute;
  z-index: 1;
  font-size: 0.85em;
}

body.page-eform-submit .page .block,
body.page-entityform-edit .page .block {
  background: #666;
  padding: 0;
}

form.entityform {
  position: relative;
}
form.entityform .btn.form-submit {
  background-image: url("../img/tick.svg");
  padding-left: 55px;
}
form.entityform .vertical-tabs {
  border: none;
  margin: 0 0 20px 0;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs {
    margin-left: 10em;
  }
}
@media (min-width: 992px) {
  form.entityform .vertical-tabs {
    margin-left: 15em;
  }
}
form.entityform .vertical-tabs-list {
  border: none;
  margin-top: 0;
  display: none;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-list {
    display: block;
    width: 10em;
    margin-left: -10em;
  }
}
@media (min-width: 992px) {
  form.entityform .vertical-tabs-list {
    width: 15em;
    margin-left: -15em;
  }
}
form.entityform .vertical-tabs-list li.vertical-tab-button {
  min-width: 10em;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-bottom: 3px;
  background: #de861b;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.4);
  border-right: #cd750a solid 2px;
}
form.entityform .vertical-tabs-list li.vertical-tab-button:hover {
  background-color: #f2cfa4;
}
form.entityform .vertical-tabs-list li.vertical-tab-button a {
  color: white;
  text-decoration: none;
  outline: none;
  padding: 0.4em;
}
form.entityform .vertical-tabs-list li.vertical-tab-button a:hover, form.entityform .vertical-tabs-list li.vertical-tab-button a:hover strong, form.entityform .vertical-tabs-list li.vertical-tab-button a:focus strong {
  text-decoration: none;
}
form.entityform .vertical-tabs-list li.vertical-tab-button.selected {
  background-color: white;
  border-color: white;
}
form.entityform .vertical-tabs-panes {
  background-color: white;
  border: none;
  padding: 0;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  form.entityform .vertical-tabs-panes {
    padding: 40px;
  }
}
form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane {
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  max-height: 5000px;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane {
    overflow: visible;
    max-height: none;
  }
}
form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane > legend {
  display: block;
  width: calc(100% + 40px);
  position: static;
  margin: 0;
  background: url("../img/triangle_white_open.svg") 5px 8px no-repeat #de861b;
  background-size: 15px 15px;
  padding-left: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane > legend {
    display: none;
  }
}
form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane > .fieldset-wrapper {
  padding: 20px;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane > .fieldset-wrapper {
    padding: 0;
  }
}
form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane.closed {
  max-height: 36px;
  -webkit-transition: max-height 0.15s ease-in-out;
  transition: max-height 0.15s ease-in-out;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane.closed {
    max-height: 10000px;
  }
}
form.entityform .vertical-tabs-panes fieldset.vertical-tabs-pane.closed > legend {
  background-image: url("../img/triangle_white_closed.svg");
}
form.entityform .vertical-tabs-panes fieldset {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
form.entityform .vertical-tabs-panes fieldset legend {
  color: white;
  background: #00829e;
  font-size: 1.25rem;
  padding: 3px 20px;
  position: relative;
  float: none;
  left: -20px;
}
@media (min-width: 992px) {
  form.entityform .vertical-tabs-panes fieldset legend {
    left: -40px;
  }
}
form.entityform .vertical-tabs-panes fieldset legend a {
  color: white;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset {
  padding: 10px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  form.entityform .vertical-tabs-panes fieldset .field-group-fieldset {
    padding: 20px 0;
  }
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset:first-child {
  margin-top: 0;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset fieldset.form-wrapper {
  padding: 10px 0 0 20px;
  margin: 20px 0 30px 20px;
  overflow: visible;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset fieldset.form-wrapper legend {
  float: left;
  padding: 0;
  background: white;
  color: #00829e;
  font-size: 1rem;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset fieldset.form-wrapper > .fieldset-wrapper {
  float: left;
  border-left: solid #00829e 2px;
  padding-left: 20px;
  margin: 0;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset fieldset.form-wrapper > .fieldset-wrapper .form-item:not(:last-child) {
  margin-bottom: 15px;
}
form.entityform .vertical-tabs-panes fieldset .field-group-fieldset.embeds-field-collection th.field-label label {
  display: none;
}
@media (min-width: 600px) {
  form.entityform .vertical-tabs-panes fieldset .field-type-field-collection table.sticky-header {
    z-index: 1;
  }
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection th.field-label {
  padding: 0;
  float: none;
  width: auto;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection th.field-label label {
  font-size: 1.25rem;
  font-weight: normal;
  color: #00829e;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection fieldset.field-group-fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection fieldset.field-group-fieldset > legend {
  color: white;
  background: #00829e;
  font-size: 1.25rem;
  padding: 3px 20px;
  position: relative;
  float: none;
  left: 0;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection fieldset.field-group-fieldset > .fieldset-wrapper {
  padding: 20px 0;
  margin: 0;
  border: none;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection fieldset.field-group-fieldset > .fieldset-wrapper legend {
  background: none;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection tr.draggable td:first-child {
  background: #f2cfa4;
  width: 20px;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection tr.draggable td:first-child a.tabledrag-handle {
  float: none;
  height: auto;
  margin: 0;
  text-decoration: none;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection tr.draggable td:first-child a.tabledrag-handle .handle {
  background-position: 0px 0px;
  margin: 0 auto;
  padding: 0;
  width: 20px;
  height: 20px;
}
form.entityform .vertical-tabs-panes fieldset .field-type-field-collection tr.draggable td:first-child a.tabledrag-handle.tabledrag-handle-hover .handle {
  background-position-y: -20px;
}
form.entityform .vertical-tabs-panes fieldset .group-grid {
  margin: 0;
  border-top: dotted #00829e 2px;
}
form.entityform .vertical-tabs-panes fieldset .group-grid:last-child {
  border-bottom: dotted #00829e 2px;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > h3,
form.entityform .vertical-tabs-panes fieldset .group-grid > .description {
  width: 150px;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 20px 0;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > h3 {
  color: #00829e;
  font-size: 1.25rem;
  font-weight: bold;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .description {
  padding-top: 10px;
  clear: left;
  font-size: 0.85rem;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper,
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid {
  margin: 0 0 0 150px;
  padding: 20px;
  background: white;
  border-left: solid #00829e 12px;
  display: table;
  border-collapse: separate;
  width: calc(100% - 150px);
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper:nth-child(odd),
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid:nth-child(odd) {
  background: #f4f4f4;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper > h3,
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper > .description,
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid > h3,
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid > .description {
  width: 200px;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper .form-wrapper,
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid .form-wrapper {
  margin-left: 200px;
  width: calc(100% - 200px);
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper label,
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper .description {
  width: 40%;
  float: left;
  clear: left;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper .description {
  font-size: 0.85rem;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .form-wrapper input {
  width: auto;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid {
  padding: 0;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid .form-wrapper {
  border-width: 2px;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid:nth-child(2) {
  border-top: none;
}
form.entityform .vertical-tabs-panes fieldset .group-grid > .group-grid:last-child {
  border-bottom: none;
}
form.entityform .vertical-tabs-panes fieldset .full-width {
  margin-left: -40px;
  margin-right: -40px;
}
form.entityform .vertical-tabs-panes .form-wrapper:not(:first-child) {
  margin-top: 30px;
}
@media (min-width: 600px) {
  form.entityform select[name='field_pais[und]'] {
    width: auto;
  }
}
form.entityform .field-type-field-collection .field-multiple-table input.form-submit {
  background-image: url("../img/cross.svg");
  background-color: #d81d40;
  background-size: 20px;
  padding-left: 50px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  form.entityform .field-type-field-collection .field-multiple-table input.form-submit {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
form.entityform input.field-add-more-submit {
  background-image: url("../img/plus.svg");
  background-color: #de861b;
  background-size: 20px;
  padding-left: 50px;
  margin-top: 20px;
}
form.entityform input.workflow-button-removed.btn.form-submit {
  background-image: url("../img/cross.svg");
  background-color: #d81d40;
  padding-left: 55px;
}
form.entityform .image-widget input[type=submit] {
  background-image: url("../img/arrow_up.svg");
  background-color: #de861b;
  background-size: 20px;
  padding-left: 50px;
  margin-left: 20px;
}
form.entityform .form-actions {
  text-align: right;
}
form.entityform .form-actions input {
  margin-left: 10px;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  form.entityform .form-actions input {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
form.entityform #edit-revision-fieldset {
  background: #FFF;
}

body.page-entityform-edit h1 {
  padding-bottom: 15px;
}
body.page-entityform-edit .submitted {
  top: -65px;
  left: 6px;
  color: white;
}
@media (min-width: 600px) {
  body.page-entityform-edit .submitted {
    color: #666;
    top: 8px;
    left: 140px;
  }
}
@media (min-width: 992px) {
  body.page-entityform-edit .submitted {
    top: 11px;
    left: 250px;
  }
}
body.page-entityform-edit fieldset.vertical-tabs-pane:first-child {
  padding-top: 20px;
}
@media (min-width: 992px) {
  body.page-entityform-edit fieldset.vertical-tabs-pane:first-child {
    padding-top: 20px;
  }
}

.entityform-revisions .diff-revision [type="radio"]:checked,
.entityform-revisions .diff-revision [type="radio"]:not(:checked) {
  position: initial;
  left: initial;
  opacity: initial;
}

body.page-entityform-view h1 {
  padding-left: 0;
}
body.page-entityform-view .entity-entityform {
  position: relative;
  padding: 10px;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  body.page-entityform-view .entity-entityform {
    padding: 40px;
  }
}
body.page-entityform-view .entity-entityform .submitted {
  position: static;
  margin-bottom: 2em;
}
body.page-entityform-view .entity-entityform fieldset {
  border: none;
}
body.page-entityform-view .entity-entityform .field-group {
  margin-bottom: 30px;
}
body.page-entityform-view .entity-entityform h2, body.page-entityform-view .entity-entityform h3, body.page-entityform-view .entity-entityform h4, body.page-entityform-view .entity-entityform h5 {
  text-align: left;
  margin: 0 0 0.5em;
}
body.page-entityform-view .entity-entityform h3, body.page-entityform-view .entity-entityform h4, body.page-entityform-view .entity-entityform h5 {
  color: #00829e;
}
body.page-entityform-view .entity-entityform h3 {
  font-size: 1.5rem;
}
body.page-entityform-view .entity-entityform h4 {
  font-size: 1.25rem;
}
body.page-entityform-view .entity-entityform h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}
body.page-entityform-view .entity-entityform img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid h4 {
    float: left;
    width: 125px;
    padding-right: 10px;
    border-bottom: solid #00829e 2px;
  }
}
body.page-entityform-view .entity-entityform .group-grid .group-grid {
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid #00829e 2px;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid .group-grid {
    margin-left: 125px;
    padding-left: 20px;
  }
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid .group-grid h5 {
    float: left;
    width: 140px;
    padding: 0 20px 0 0;
    border-bottom: dotted #aaa 1px;
  }
}
body.page-entityform-view .entity-entityform .group-grid .group-grid div.field {
  margin: 0 0 0 15px;
  padding: 0 0 15px;
  clear: none;
  border: none;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid .group-grid div.field {
    margin-left: 140px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: dotted 1px #aaa;
  }
}
body.page-entityform-view .entity-entityform .group-grid .group-grid div.field:last-child {
  padding-bottom: 40px;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid .group-grid div.field:last-child {
    padding-bottom: 65px;
  }
}
body.page-entityform-view .entity-entityform .group-grid .group-grid div.field .field-label {
  font-weight: 500;
}
body.page-entityform-view .entity-entityform .group-grid .group-grid:last-child {
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .group-grid .group-grid:last-child {
    margin-bottom: 0;
  }
}
body.page-entityform-view .entity-entityform .group-grid:last-child .group-grid:last-child {
  margin-bottom: 0;
}
body.page-entityform-view .entity-entityform .group-grid:last-child .group-grid:last-child div.field:last-child {
  padding-bottom: 0;
}
body.page-entityform-view .entity-entityform .field-type-field-collection > .field-label {
  float: none;
  width: auto;
}
body.page-entityform-view .entity-entityform .field-type-field-collection > .field-items {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: dotted #ddd 1px;
  list-style-type: none;
  position: relative;
  counter-reset: item;
}
@media (min-width: 600px) {
  body.page-entityform-view .entity-entityform .field-type-field-collection > .field-items {
    margin-left: 40px;
  }
}
body.page-entityform-view .entity-entityform .field-type-field-collection > .field-items li {
  counter-increment: item;
}
body.page-entityform-view .entity-entityform .field-type-field-collection > .field-items li::before {
  content: counter(item);
  font-size: 0.8em;
  background-color: #00add2;
  color: white;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 10px;
  position: absolute;
  left: -7px;
  z-index: 1;
}
body.page-entityform-view .entity-entityform .field-type-field-collection > .field-items .field-collection-view {
  padding: 0;
  margin: 0;
}
body.page-entityform-view .entity-entityform .field-type-entityreference .field-items .field {
  clear: none;
}
body.page-entityform-view .entity-entityform .field-type-entityreference .field-items .field-items {
  margin-left: 0;
}

body.page-user .page {
  max-width: 720px;
}
body.page-user h1 {
  float: left;
  background: none;
  line-height: 1;
  margin-top: 5px;
}
@media (min-width: 600px) {
  body.page-user .tabs {
    width: auto;
    float: right;
  }
}

body.page-user:not(.page-user-edit) #block-system-main {
  padding: 20px;
}
@media (min-width: 600px) {
  body.page-user:not(.page-user-edit) #block-system-main {
    padding: 40px;
  }
}
@media (min-width: 600px) {
  body.page-user:not(.page-user-edit) #block-system-main .field-label {
    width: 175px;
  }
}
@media (min-width: 992px) {
  body.page-user:not(.page-user-edit) #block-system-main .field-label {
    width: 200px;
  }
}

body.page-user-edit form#user-profile-form {
  padding: 20px;
}
@media (min-width: 600px) {
  body.page-user-edit form#user-profile-form {
    padding: 40px;
  }
}
body.page-user-edit form#user-profile-form .form-wrapper,
body.page-user-edit form#user-profile-form .form-item {
  margin-bottom: 30px;
}
body.page-user-edit form#user-profile-form .description {
  font-size: 0.85em;
  color: #666;
}
body.page-user-edit form#user-profile-form .field-widget-siasar-hierarchical-select .form-item {
  margin-bottom: 0;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm {
  margin: 0 -20px 30px;
  padding: 20px;
  background: #fff0d0;
}
@media (min-width: 600px) {
  body.page-user-edit form#user-profile-form .form-type-password-confirm {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    position: relative;
  }
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .form-item-pass-pass1 {
  margin-bottom: 20px;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .form-item-pass-pass2 {
  margin-bottom: 0;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength,
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-indicator,
body.page-user-edit form#user-profile-form .form-type-password-confirm div.password-confirm {
  display: none;
  position: relative;
  float: right;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (min-width: 600px) {
  body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength,
  body.page-user-edit form#user-profile-form .form-type-password-confirm .password-indicator,
  body.page-user-edit form#user-profile-form .form-type-password-confirm div.password-confirm {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength,
body.page-user-edit form#user-profile-form .form-type-password-confirm div.password-confirm {
  padding-top: 28px;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength .password-strength-title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding-right: 5px;
  white-space: nowrap;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength .password-strength-text {
  position: relative;
  top: 5px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 600px) {
  body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength .password-strength-text {
    top: 0;
  }
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-strength .password-indicator {
  display: none;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm div.password-confirm span {
  padding-left: 5px;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm .password-suggestions ul {
  margin-bottom: 0;
}
body.page-user-edit form#user-profile-form .form-type-password-confirm input {
  width: 100%;
}
@media (min-width: 600px) {
  body.page-user-edit form#user-profile-form .form-type-password-confirm input {
    width: calc(50% - 20px);
  }
}
body.page-user-edit form#user-profile-form fieldset {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  box-shadow: none;
}
body.page-user-edit form#user-profile-form fieldset legend {
  display: none;
}
body.page-user-edit form#user-profile-form fieldset .form-type-file,
body.page-user-edit form#user-profile-form fieldset .form-type-select {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  body.page-entityform-view .field-name-field-status .field-label,
  body.page-entityform-view .field-name-field-status .field-items {
    height: 30px;
    line-height: 32px;
  }
}
@media (min-width: 600px) {
  body.page-entityform-view .field-name-field-status .field-label {
    width: 227px;
  }
}
@media (min-width: 992px) {
  body.page-entityform-view .field-name-field-status .field-label {
    width: 325px;
  }
}
body.page-entityform-view .field-name-field-status .field-items {
  background-size: contain;
  background-position: 0 center;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  body.page-entityform-view .field-name-field-status .field-items {
    padding-left: 25px;
  }
}
@media (min-width: 992px) {
  body.page-entityform-view .field-name-field-status .field-items {
    padding-left: 30px;
  }
}
@media (min-width: 600px) {
  body.page-entityform-view .field-status-draft .field-items {
    background-image: url(../img/workflow/draft.svg);
  }
  body.page-entityform-view .field-status-finished .field-items {
    background-image: url(../img/workflow/finished.svg);
  }
  body.page-entityform-view .field-status-validated .field-items {
    background-image: url(../img/workflow/validated.svg);
  }
}

body.page-eform-submit input[id^=edit-workflow],
body.page-entityform-edit input[id^=edit-workflow],
body.page-entityform-workflow input[id^=edit-workflow] {
  padding-left: 45px;
  padding-right: 20px;
  margin-left: 10px;
  background-size: 20px;
}
@media (min-width: 600px) {
  body.page-eform-submit input[id^=edit-workflow],
  body.page-entityform-edit input[id^=edit-workflow],
  body.page-entityform-workflow input[id^=edit-workflow] {
    margin-left: 15px;
  }
}
body.page-eform-submit #edit-workflow-2,
body.page-entityform-edit #edit-workflow-2,
body.page-entityform-workflow #edit-workflow-2 {
  background-image: url(../img/workflow/draft-white.svg);
}
body.page-eform-submit #edit-workflow-3,
body.page-entityform-edit #edit-workflow-3,
body.page-entityform-workflow #edit-workflow-3 {
  background-image: url(../img/workflow/finished-white.svg);
}
body.page-eform-submit #edit-workflow-4,
body.page-entityform-edit #edit-workflow-4,
body.page-entityform-workflow #edit-workflow-4 {
  background-image: url(../img/workflow/validated-white.svg);
}

body.workflow-status-validated #edit-workflow-2 {
  background-image: url(../img/workflow/update-white.svg);
}

body.page-entityform-workflow #block-system-main .content {
  position: relative;
  padding-bottom: 40px;
}
body.page-entityform-workflow #block-system-main .content h2 {
  padding-top: 10px;
  padding-left: 10px;
}
@media (min-width: 600px) {
  body.page-entityform-workflow #block-system-main .content h2 {
    padding-top: 20px;
    padding-left: 20px;
  }
}
body.page-entityform-workflow #block-system-main .content .workflow-transition-entityforms-form {
  position: absolute;
  bottom: -60px;
  right: 0;
}

.siasar-hierarchy {
  margin: 0;
}
.siasar-hierarchy li.parent {
  text-transform: capitalize;
  display: inline-block;
  font-size: 0.7rem;
}
.siasar-hierarchy li.parent + li.parent:before {
  content: '-';
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
.siasar-hierarchy li.parent + li.selected {
  margin-top: 5px;
}

.views-field-entityform-revision span.not-computable {
  width: 15px;
  height: 15px;
  background: #d81d40;
  border-radius: 50px;
  display: inline-block;
}
.views-field-entityform-revision span.computable {
  width: 15px;
  height: 15px;
  background: #26c726;
  border-radius: 50px;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */